-unless user_signed_in?
  .jumbotron
    %h1 Your favourite movies reviewed
    %p Select you favourite film. Give it an awesome 5-star score. Write a comment and share you review with your frinds. Just remember to keep things polite and fun. 😉
    %p
      = link_to "Sign Up to write a review", new_user_registration_path, class: "btn btn-primary btn-lg"

.row
  - @movies.each do |movie|
    .col-sm-6.col-md-3
      .thumbnail
        = link_to (image_tag movie.image.url(:medium), class: "image"), movie
