-unless user_signed_in?
  .jumbotron
    %h1 Your favourite movies reviewed
    %p Hashtag hoodie mumblecore selfieds. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan picled.
    %p
      = link_to "Sign Up to write a review", new_user_registration_path, class: "btn btn-primary btn-lg"

.row
  - @movies.each do |movie|
    .col-sm-6.col-md-3
      .thumbnail
        puts movie.image_path
        = link_to (image_tag movie.image.image_path(:medium), class: "image"), movie
